button {
    padding: 10px 15px;
    background-color: rgb(216, 229, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    /* Add any other styles you want for your buttons */
    width: 120px;
    margin: 20px
  }
  
  button:hover{
    background-color: #c6deff;
  }

  button:active{
    background-color: #ff9ed3;
}