* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

#main {
  width: 100%;
}

#header {
  background-color: #98c5ff; /* Baby pink */
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#body {
  background-color: #fdfd96; /* Pastel yellow */
  padding: 1rem;
  min-height: 60vh; /* Adjust based on your content */
}

#footer {
  background-color: #ff9ed3; /* Baby blue */
  padding: 1rem;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.hello{

}

#button-menu{
  align-self: center;
}

@media (min-width: 769px) {
  #header {
    /* Styles for screens wider than 768px */
    position: fixed;
    left: 0;
    top: 0;
    width: 20%; /* Adjust the width as needed */
    height: 100%; /* Full height of the viewport */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    /* Adjust other styling as needed */
  }

  #main {
    margin-left: 20%; /* Match the width of the header */
    width: 80%;
  }

}
